* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v13_175 {
  width: 100%;
  height: 1080px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_176 {
  width: 100%;
  height: 700px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_177 {
  width: 100%;
  height: 618px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_178 {
  width: 310px;
  height: 515px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 481px;
  overflow: hidden;
}
.v13_179 {
  width: 309px;
  height: 498px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 5px;
  overflow: hidden;
}
.v13_180 {
  width: 247px;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 34px;
  overflow: hidden;
}
.v13_181 {
  width: 239px;
  height: 40px;
  background: url("../images/v13_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
  overflow: hidden;
}
.v13_182 {
  width: 13px;
  height: 10px;
  background: url("../images/v13_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 220px;
  overflow: hidden;
}
.v13_183 {
  width: 109px;
  color: rgba(175,176,180,1);
  position: absolute;
  top: 9px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v13_184 {
  width: 247px;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 34px;
  overflow: hidden;
}
.v13_185 {
  width: 239px;
  height: 40px;
  background: url("../images/v13_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
  overflow: hidden;
}
.v13_186 {
  width: 13px;
  height: 10px;
  background: url("../images/v13_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 220px;
  overflow: hidden;
}
.v13_187 {
  width: 59px;
  color: rgba(175,176,180,1);
  position: absolute;
  top: 16px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v13_188 {
  width: 247px;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 34px;
  overflow: hidden;
}
.v13_189 {
  width: 240px;
  height: 39px;
  background: url("../images/v13_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v13_190 {
  width: 82px;
  color: rgba(169,170,175,1);
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v13_191 {
  width: 247px;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 34px;
  overflow: hidden;
}
.v13_192 {
  width: 240px;
  height: 39px;
  background: url("../images/v13_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v13_193 {
  width: 82px;
  color: rgba(169,170,175,1);
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v13_194 {
  width: 40px;
  height: 38px;
  background: url("../images/v13_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 191px;
  overflow: hidden;
}
.v13_195 {
  width: 146px;
  color: rgba(138,139,138,1);
  position: absolute;
  top: 125px;
  left: 89px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_196 {
  width: 76px;
  color: rgba(168,170,170,1);
  position: absolute;
  top: 89px;
  left: 120px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v13_197 {
  width: 96px;
  color: rgba(204,209,217,1);
  position: absolute;
  top: 16px;
  left: 90px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v13_198 {
  width: 248px;
  height: 242px;
  background: url("../images/v13_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 31px;
  overflow: hidden;
}
.v13_199 {
  width: 14px;
  height: 16px;
  background: url("../images/v13_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 118px;
  overflow: hidden;
}
.v13_200 {
  width: 248px;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  overflow: hidden;
}
.v13_201 {
  width: 240px;
  height: 39px;
  background: rgba(12,12,12,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 0.8888888955116272px solid rgba(96,97,98,1);
  overflow: hidden;
}
.v13_202 {
  width: 14px;
  height: 14px;
  background: url("../images/v13_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
  overflow: hidden;
}
.v13_203 {
  width: 117px;
  color: rgba(145,145,145,1);
  position: absolute;
  top: 15px;
  left: 43px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_204 {
  width: 103px;
  height: 0px;
  background: url("../images/v13_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 142px;
  overflow: hidden;
}
.v13_205 {
  width: 103px;
  height: 0px;
  background: url("../images/v13_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 4px;
  overflow: hidden;
}
.v13_206 {
  width: 247px;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  overflow: hidden;
}
.v13_207 {
  width: 239px;
  height: 39px;
  background: url("../images/v13_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
  overflow: hidden;
}
.v13_208 {
  width: 49px;
  color: rgba(147,146,148,1);
  position: absolute;
  top: 16px;
  left: 99px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v13_209 {
  width: 16px;
  color: rgba(138,139,137,1);
  position: absolute;
  top: 115px;
  left: 117px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v13_210 {
  width: 40px;
  color: rgba(159,160,159,1);
  position: absolute;
  top: 85px;
  left: 130px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_211 {
  width: 125px;
  color: rgba(137,138,138,1);
  position: absolute;
  top: 84px;
  left: 4px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_212 {
  width: 80px;
  color: rgba(155,155,156,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
