* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v13_215 {
  width: 100%;
  height: 1080px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_216 {
  width: 100%;
  height: 618px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_217 {
  width: 100%;
  height: 618px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_218 {
  width: 310px;
  height: 515px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 481px;
  overflow: hidden;
}
.v13_219 {
  width: 14px;
  height: 16px;
  background: url("../images/v13_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 152px;
  overflow: hidden;
}
.v13_220 {
  width: 309px;
  height: 498px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 5px;
  overflow: hidden;
}
.v13_221 {
  width: 248px;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 33px;
  overflow: hidden;
}
.v13_222 {
  width: 240px;
  height: 39px;
  background: rgba(12,12,12,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 0.8888888955116272px solid rgba(96,97,98,1);
  overflow: hidden;
}
.v13_223 {
  width: 14px;
  height: 14px;
  background: url("../images/v13_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
  overflow: hidden;
}
.v13_224 {
  width: 117px;
  color: rgba(145,145,145,1);
  position: absolute;
  top: 15px;
  left: 43px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_225 {
  width: 103px;
  height: 0px;
  background: url("../images/v13_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 176px;
  overflow: hidden;
}
.v13_226 {
  width: 103px;
  height: 0px;
  background: url("../images/v13_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 38px;
  overflow: hidden;
}
.v13_227 {
  width: 247px;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 34px;
  overflow: hidden;
}
.v13_228 {
  width: 239px;
  height: 39px;
  background: url("../images/v13_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
  overflow: hidden;
}
.v13_229 {
  width: 49px;
  color: rgba(147,146,148,1);
  position: absolute;
  top: 16px;
  left: 99px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v13_230 {
  width: 247px;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 34px;
  overflow: hidden;
}
.v13_231 {
  width: 239px;
  height: 40px;
  background: url("../images/v13_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
  overflow: hidden;
}
.v13_232 {
  width: 13px;
  height: 10px;
  background: url("../images/v13_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 220px;
  overflow: hidden;
}
.v13_233 {
  width: 59px;
  color: rgba(175,176,180,1);
  position: absolute;
  top: 16px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v13_234 {
  width: 247px;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 34px;
  overflow: hidden;
}
.v13_235 {
  width: 240px;
  height: 39px;
  background: url("../images/v13_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v13_236 {
  width: 82px;
  color: rgba(169,170,175,1);
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v13_237 {
  width: 40px;
  height: 38px;
  background: url("../images/v13_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 191px;
  overflow: hidden;
}
.v13_238 {
  width: 16px;
  color: rgba(138,139,137,1);
  position: absolute;
  top: 376px;
  left: 151px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v13_239 {
  width: 40px;
  color: rgba(159,160,159,1);
  position: absolute;
  top: 345px;
  left: 153px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_240 {
  width: 112px;
  color: rgba(137,138,138,1);
  position: absolute;
  top: 344px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_241 {
  width: 80px;
  color: rgba(155,155,156,1);
  position: absolute;
  top: 260px;
  left: 41px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_242 {
  width: 139px;
  color: rgba(138,139,138,1);
  position: absolute;
  top: 125px;
  left: 88px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_243 {
  width: 76px;
  color: rgba(168,170,170,1);
  position: absolute;
  top: 89px;
  left: 120px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v13_244 {
  width: 96px;
  color: rgba(204,209,217,1);
  position: absolute;
  top: 16px;
  left: 90px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
