* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v13_101 {
  width: 100%;
  height: 1080px;
  background: rgba(245,245,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_102 {
  width: 100%;
  height: 606px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_103 {
  width: 100%;
  height: 606px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_104 {
  width: 100%;
  height: 558px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  overflow: hidden;
}
.v13_105 {
  width: 100%;
  height: 579px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 85px;
  overflow: hidden;
}
.v13_106 {
  width: 100%;
  height: 558px;
  background: url("../images/v13_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 86px;
  overflow: hidden;
}
.v13_107 {
  width: 835px;
  height: 161px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 131px;
  overflow: hidden;
}
.v13_108 {
  width: 9px;
  height: 9px;
  background: url("../images/v13_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 809px;
  overflow: hidden;
}
.v13_109 {
  width: 37px;
  color: rgba(190,186,183,1);
  position: absolute;
  top: 142px;
  left: 761px;
  font-family: Inter;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v13_110 {
  width: 30px;
  color: rgba(150,149,148,1);
  position: absolute;
  top: 143px;
  left: 616px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_111 {
  width: 15px;
  color: rgba(139,138,136,1);
  position: absolute;
  top: 143px;
  left: 509px;
  font-family: Inter;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v13_112 {
  width: 15px;
  color: rgba(187,182,180,1);
  position: absolute;
  top: 143px;
  left: 464px;
  font-family: Inter;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v13_113 {
  width: 143px;
  color: rgba(189,185,182,1);
  position: absolute;
  top: 143px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v13_114 {
  width: 9px;
  height: 9px;
  background: url("../images/v13_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 809px;
  overflow: hidden;
}
.v13_115 {
  width: 37px;
  color: rgba(185,182,178,1);
  position: absolute;
  top: 98px;
  left: 761px;
  font-family: Inter;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v13_116 {
  width: 30px;
  color: rgba(148,147,145,1);
  position: absolute;
  top: 98px;
  left: 616px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_117 {
  width: 17px;
  color: rgba(143,142,140,1);
  position: absolute;
  top: 99px;
  left: 509px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v13_118 {
  width: 23px;
  color: rgba(183,179,176,1);
  position: absolute;
  top: 99px;
  left: 457px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v13_119 {
  width: 150px;
  color: rgba(187,184,181,1);
  position: absolute;
  top: 98px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_120 {
  width: 825px;
  height: 53px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 7px;
  overflow: hidden;
}
.v13_121 {
  width: 825px;
  height: 53px;
  background: rgba(246,246,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_122 {
  width: 9px;
  height: 9px;
  background: url("../images/v13_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 801px;
  overflow: hidden;
}
.v13_123 {
  width: 36px;
  color: rgba(181,177,174,1);
  position: absolute;
  top: 17px;
  left: 754px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v13_124 {
  width: 30px;
  color: rgba(139,138,136,1);
  position: absolute;
  top: 18px;
  left: 609px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_125 {
  width: 15px;
  color: rgba(136,134,133,1);
  position: absolute;
  top: 18px;
  left: 502px;
  font-family: Inter;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v13_126 {
  width: 23px;
  color: rgba(176,172,168,1);
  position: absolute;
  top: 18px;
  left: 450px;
  font-family: Inter;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v13_127 {
  width: 150px;
  color: rgba(184,180,177,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v13_128 {
  width: 68px;
  color: rgba(185,182,179,1);
  position: absolute;
  top: 14px;
  left: 731px;
  font-family: Inter;
  font-weight: Light;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_129 {
  width: 54px;
  color: rgba(188,185,182,1);
  position: absolute;
  top: 14px;
  left: 592px;
  font-family: Inter;
  font-weight: Light;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_130 {
  width: 23px;
  color: rgba(177,174,170,1);
  position: absolute;
  top: 14px;
  left: 503px;
  font-family: Inter;
  font-weight: Light;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v13_131 {
  width: 54px;
  color: rgba(183,180,177,1);
  position: absolute;
  top: 14px;
  left: 425px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_132 {
  width: 27px;
  color: rgba(191,188,185,1);
  position: absolute;
  top: 15px;
  left: 13px;
  font-family: Inter;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v13_133 {
  width: 829px;
  height: 121px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 139px;
  overflow: hidden;
}
.v13_134 {
  width: 827px;
  height: 121px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border: 6.0843377113342285px solid rgba(242,241,239,1);
  overflow: hidden;
}
.v13_135 {
  width: 138px;
  height: 32px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 23px;
  overflow: hidden;
}
.v13_136 {
  width: 135px;
  height: 27px;
  background: rgba(229,228,226,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 1.216867446899414px solid rgba(225,222,221,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v13_137 {
  width: 108px;
  color: rgba(143,141,139,1);
  position: absolute;
  top: 8px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_138 {
  width: 141px;
  color: rgba(231,230,228,1);
  position: absolute;
  top: 83px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v13_139 {
  width: 120px;
  color: rgba(194,191,188,1);
  position: absolute;
  top: 15px;
  left: 26px;
  font-family: Inter;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v13_140 {
  width: 203px;
  height: 91px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 762px;
  overflow: hidden;
}
.v13_141 {
  width: 194px;
  height: 81px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1.216867446899414px solid rgba(243,242,241,1);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}
.v13_142 {
  width: 47px;
  color: rgba(106,104,102,1);
  position: absolute;
  top: 40px;
  left: 26px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v13_143 {
  width: 79px;
  color: rgba(205,202,199,1);
  position: absolute;
  top: 19px;
  left: 25px;
  font-family: Inter;
  font-weight: Light;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_144 {
  width: 204px;
  height: 91px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 554px;
  overflow: hidden;
}
.v13_145 {
  width: 194px;
  height: 81px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 1.216867446899414px solid rgba(243,243,242,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}
.v13_146 {
  width: 197px;
  height: 83px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v13_147 {
  width: 29px;
  color: rgba(107,105,102,1);
  position: absolute;
  top: 36px;
  left: 24px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_148 {
  width: 66px;
  color: rgba(204,201,199,1);
  position: absolute;
  top: 15px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_149 {
  width: 203px;
  height: 91px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 348px;
  overflow: hidden;
}
.v13_150 {
  width: 194px;
  height: 81px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1.216867446899414px solid rgba(243,242,241,1);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}
.v13_151 {
  width: 195px;
  height: 83px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v13_152 {
  width: 30px;
  color: rgba(99,97,94,1);
  position: absolute;
  top: 36px;
  left: 23px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v13_153 {
  width: 53px;
  color: rgba(201,198,195,1);
  position: absolute;
  top: 15px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_154 {
  width: 193px;
  height: 82px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 146px;
  border: 1.216867446899414px solid rgba(241,241,239,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}
.v13_155 {
  width: 197px;
  height: 83px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 143px;
  overflow: hidden;
}
.v13_156 {
  width: 30px;
  color: rgba(97,95,93,1);
  position: absolute;
  top: 37px;
  left: 23px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v13_157 {
  width: 75px;
  color: rgba(201,198,196,1);
  position: absolute;
  top: 15px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_158 {
  width: 110px;
  color: rgba(131,130,128,1);
  position: absolute;
  top: 393px;
  left: 144px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_159 {
  width: 309px;
  color: rgba(185,182,179,1);
  position: absolute;
  top: 75px;
  left: 144px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_160 {
  width: 19px;
  color: rgba(229,228,226,1);
  position: absolute;
  top: 52px;
  left: 260px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: center;
}
.v13_161 {
  width: 105px;
  color: rgba(101,99,96,1);
  position: absolute;
  top: 43px;
  left: 147px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v13_162 {
  width: 100%;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_163 {
  width: 100%;
  height: 47px;
  background: rgba(245,245,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_164 {
  width: 100%;
  height: 45px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 209px;
  overflow: hidden;
}
.v13_165 {
  width: 36px;
  color: rgba(186,183,179,1);
  position: absolute;
  top: 14px;
  left: 800px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_166 {
  width: 37px;
  color: rgba(191,188,185,1);
  position: absolute;
  top: 14px;
  left: 748px;
  font-family: Inter;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_167 {
  width: 32px;
  color: rgba(186,183,180,1);
  position: absolute;
  top: 15px;
  left: 704px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_168 {
  width: 6px;
  height: 9px;
  background: url("../images/v13_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 682px;
  overflow: hidden;
}
.v13_169 {
  width: 12px;
  height: 10px;
  background: url("../images/v13_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 647px;
  overflow: hidden;
}
.v13_170 {
  width: 17px;
  height: 15px;
  background: url("../images/v13_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 63px;
  overflow: hidden;
}
.v13_171 {
  width: 42px;
  color: rgba(120,118,116,1);
  position: absolute;
  top: 14px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_172 {
  width: 3px;
  height: 332px;
  background: url("../images/v13_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1277px;
  overflow: hidden;
}
