* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v13_66 {
  width: 100%;
  height: 1080px;
  background: rgba(244,245,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_67 {
  width: 100%;
  height: 607px;
  background: url("../images/v13_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_68 {
  width: 100%;
  height: 47px;
  background: rgba(245,246,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_69 {
  width: 100%;
  height: 554px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.v13_70 {
  width: 100%;
  height: 561px;
  background: rgba(244,245,243,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  overflow: hidden;
}
.v13_71 {
  width: 283px;
  height: 127px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 175px;
  left: 643px;
  overflow: hidden;
}
.v13_72 {
  width: 276px;
  height: 120px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v13_73 {
  width: 274px;
  height: 117px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 1.216432809829712px solid rgba(245,245,243,1);
  border-top-left-radius: 3px;
  overflow: hidden;
}
.v13_74 {
  width: 114px;
  color: rgba(154,153,152,1);
  position: absolute;
  top: 85px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_75 {
  width: 114px;
  color: rgba(156,155,154,1);
  position: absolute;
  top: 63px;
  left: 21px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_76 {
  width: 79px;
  color: rgba(154,153,152,1);
  position: absolute;
  top: 41px;
  left: 21px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_77 {
  width: 47px;
  color: rgba(197,194,192,1);
  position: absolute;
  top: 15px;
  left: 21px;
  font-family: Inter;
  font-weight: Light;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v13_78 {
  width: 276px;
  height: 120px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 358px;
  overflow: hidden;
}
.v13_79 {
  width: 274px;
  height: 119px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 1.216432809829712px solid rgba(239,238,237,1);
  border-top-left-radius: 3px;
  overflow: hidden;
}
.v13_80 {
  width: 86px;
  color: rgba(150,149,147,1);
  position: absolute;
  top: 85px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_81 {
  width: 72px;
  color: rgba(161,160,158,1);
  position: absolute;
  top: 63px;
  left: 21px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_82 {
  width: 24px;
  color: rgba(160,159,158,1);
  position: absolute;
  top: 41px;
  left: 70px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v13_83 {
  width: 45px;
  color: rgba(148,147,146,1);
  position: absolute;
  top: 41px;
  left: 21px;
  font-family: Inter;
  font-weight: Light;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_84 {
  width: 53px;
  color: rgba(198,195,192,1);
  position: absolute;
  top: 15px;
  left: 21px;
  font-family: Inter;
  font-weight: Light;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v13_85 {
  width: 25px;
  height: 24px;
  background: url("../images/v13_85.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 704px;
  overflow: hidden;
}
.v13_86 {
  width: 183px;
  color: rgba(184,181,178,1);
  position: absolute;
  top: 520px;
  left: 551px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_87 {
  width: 201px;
  color: rgba(184,181,178,1);
  position: absolute;
  top: 321px;
  left: 542px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v13_88 {
  width: 411px;
  color: rgba(187,184,181,1);
  position: absolute;
  top: 72px;
  left: 437px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v13_89 {
  width: 150px;
  color: rgba(96,94,92,1);
  position: absolute;
  top: 36px;
  left: 551px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v13_90 {
  width: 100%;
  height: 47px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_91 {
  width: 100%;
  height: 45px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_92 {
  width: 37px;
  color: rgba(191,187,184,1);
  position: absolute;
  top: 15px;
  left: 1012px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_93 {
  width: 36px;
  color: rgba(190,187,183,1);
  position: absolute;
  top: 15px;
  left: 960px;
  font-family: Inter;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v13_94 {
  width: 34px;
  color: rgba(190,187,183,1);
  position: absolute;
  top: 15px;
  left: 915px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v13_95 {
  width: 7px;
  height: 10px;
  background: url("../images/v13_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 894px;
  overflow: hidden;
}
.v13_96 {
  width: 12px;
  height: 10px;
  background: url("../images/v13_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 860px;
  overflow: hidden;
}
.v13_97 {
  width: 17px;
  height: 15px;
  background: url("../images/v13_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 274px;
  overflow: hidden;
}
.v13_98 {
  width: 41px;
  color: rgba(107,105,103,1);
  position: absolute;
  top: 14px;
  left: 232px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
